# Force HTTPS and correct domain for journal.phindia.com

RewriteEngine On

# Make sure it's always using https://journal.phindia.com
RewriteCond %{HTTP_HOST} !^journal\.phindia\.com$ [NC]
RewriteRule ^(.*)$ https://journal.phindia.com/$1 [L,R=301]

# Force HTTPS (only if SSL is available)
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://journal.phindia.com/$1 [L,R=301]
